body {
  background-color: #282828;
  /* font-family: Arial, sans-serif,cursive; */
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: cursive;
  position: relative;
}

.contener {
  background-color: white;
  width: 400px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  overflow: hidden;
}
.banare {
  background-color: #008cff;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}
.month {
  font-size: 30px;
  font-weight: bold;
}
.day-name {
  font-size: 20px;
  color: darkgray;
}

.day-number {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.year {
  margin: 40px;
  font-size: 20px;
  color: darkgray;
  font-weight: 500;
}
/* Social Media Button  */
.social-buttons {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
}

.social-btn img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 2px rgb(255, 255, 255);
  transition: box-shadow 0.2s, transform 0.2s;
}

.social-btn img:hover {
  box-shadow: 0 4px 12px rgb(255, 255, 255);
  transform: scale(1.08);
}
